* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: 100vh;
}

.sidebar {
  background-color: #0c4a6e;
  grid-row: 1/3;
  display: grid;
}

.sidebar .options {
  align-self: center;
}

.sidebar .settings {
}

.sidebar p,
.sidebar h1 {
  color: white;
}

.header {
  background-color: #38bdf8;
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.header .top {
  grid-column: 1 / 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.header img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.header .left {
  align-self: center;
  justify-content: center;
}

.header .right {
  align-self: center;
  justify-content: center;
}

.main {
  background-color: #e4e4e7;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.main .cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.main .card {
  background-color: white;
}

.main .announcements .announcementsCard {
  background-color: white;
}

.main .trending {
  grid-column: 2 / 3;
}

.main .trending .themes {
  background-color: white;
}
