* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: 100vh;
}

.sidebar {
  background-color: #0c4a6e;
  grid-row: 1/3;
  display: grid;
  grid-template-rows: 0.12fr 0.45fr 1fr;
}

.sidebar p,
.sidebar h1 {
  color: white;
}

.sidebar a {
  color: white;
  text-decoration: none;
}

.sidebar .title {
  display: flex;
  padding-top: 10px;
  padding-left: 10px;
}

.sidebar .title img {
  width: auto;
  height: 50px;
}

.sidebar .title a {
  margin-left: 10px;
  margin-top: 8px;
  font-size: 1.5rem;
}

.sidebar .options,
.sidebar .settings {
  display: flex;
  flex-direction: column;
}

.sidebar .options .icons,
.sidebar .settings .icons {
  margin: 20px 20px 10px 20px;
  display: flex;
}

.sidebar .options .icons a,
.sidebar .settings .icons a {
  margin-left: 10px;
  font-size: 1.1rem;
}

.header {
  background-color: #bae6fd;
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.header .top {
  grid-column: 1 / 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.header .top .topLeft,
.header .top .topRight {
  display: flex;
  padding-left: 25px;
  padding-top: 25px;
  align-items: center;
}

.header .top .topRight {
  gap: 25px;
  justify-content: end;
  padding-right: 100px;
}

.header .top .topLeft img,
.header .top .topRight img {
  width: 40px;
  height: 35px;
}

.header .top .topLeft form {
  padding-left: 10px;
  margin-top: 2px;
}

.header .top .topLeft input {
  width: 100%;
  border-radius: 10px;
  background-color: #22d3ee;
  border-style: none;
  padding: 8px 200px;
}

.header .top .topRight .icon {
  background-color: red;
  border-radius: 50%;
  width: 50px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .top .topRight a {
  color: #172554;
  text-decoration: none;
  font-size: 1.2rem;
}

.header .left,
.header .right {
  display: flex;
  padding: 25px;
  align-items: center;
  gap: 25px;
}

.header .left .text {
  text-align: left;
}

.header .left .text p {
  font-size: 0.8rem;
  font-weight: bold;
  line-height: 2px;
}

.header .left .icon {
  background-color: red;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .left img {
  width: 45px;
  height: 40px;
}

.header img,
.main .themes img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.header .right {
  justify-content: end;
  padding-right: 80px;
}

.header .right button {
  background-color: #0c4a6e;
  border-radius: 15px;
  padding: 12px 30px;
  color: white;
  border: none;
}

.main {
  background-color: #e4e4e7;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

.main .projects {
  grid-row: 1/3;
  text-align: left;
  padding-left: 25px;
  padding-top: 30px;
}
.main .projects .cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.main .projects .cards .card {
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  line-height: 1.2rem;
  border-left-style: solid;
  border-left-color: orange;
  border-left-width: 8px;
}

.main .projects .cards .card .text h3 {
  font-size: 1.2rem;
  color: #0c4a6e;
}

.main .projects .cards .card .text p {
  line-height: 1.5rem;
  margin: 15px 0px;
}

.main .projects .cards .card .icons {
  align-self: self-end;
}

.main .announcements {
  text-align: left;
  padding-right: 25px;
  padding-top: 30px;
}

.main .announcements h2,
.main .projects h2 {
  padding-bottom: 10px;
  font-size: 1.4rem;
}

.main .announcements .announcementsCard {
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  line-height: 1.2rem;
}

.main .announcements .announcementsCard h2 {
  font-size: 1.2rem;
}

.main .announcements .announcementsCard p {
  font-size: 0.8rem;
  margin-top: 8px;
}

.main .announcements .announcementsCard hr {
  margin: 15px 0px;
}

.main .trending {
  grid-column: 2 / 3;
}

.main .trending {
  text-align: left;
  padding-right: 25px;
  margin-bottom: 25px;
}

.main .trending .themes {
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 20px;
  line-height: 1.2rem;
}

.main .trending .themes .theme {
  display: flex;
  align-items: center;
  padding-top: 15px;
}

.main .trending .themes .theme .text {
  padding-left: 15px;
}

.main .trending .themes .theme .text .light {
  font-size: 0.8rem;
  color: #a1a1aa;
}

.main .trending .themes .theme .icon {
  background-color: red;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main .trending h2 {
  padding-bottom: 10px;
  font-size: 1.4rem;
}
